@font-face {
    font-family: "Microgramma";
    src:
        url("./Microgramma.ttf") format("truetype");
    font-weight: regular;
}

@font-face {
    font-family: "Satoshi-Variable";
    src:
        url("./Satoshi-Variable.ttf") format("truetype");
    font-weight: regular;
}



.font-microgramma {
    font-family: "Microgramma", system-ui, Avenir, Helvetica, Arial, sans-serif;
}